{
  "env": {
    "cjs": {
      "presets": [
        ["es2015", {"loose": true}]
      ],
      "plugins": [
        ["add-module-exports"],
        <% if(flow) {%>["transform-flow-strip-types"]<% } %>
      ]
    },
    "es": {
      "presets": [
        ["es2015", {"loose": true, "modules": false}]
      ],
      "plugins": [
        <% if(flow) {%>["transform-flow-strip-types"]<% } %>
      ]
    }
  }
}
