{
  "parser": "babel-eslint",
  "plugins": ["flowtype"],
  "extends": [
    "devine",
    "plugin:flowtype/recommended"
  ],
  "settings": {
    "flowtype": {"onlyFilesWithFlowAnnotation": true}
  }
}
